In [1]:
#format strings

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [2]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [3]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")

thislist.extend(thistuple)

print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [4]:
#Adding multiple items 
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]
fruits.update(more_fruits)

In [ ]:
i = 1
while i < 6:
  if i == 3:
    break 
    i += 1

In [ ]:
def pypart(n):
    for i in range(0,n):
        for j in range(0,i+1):
            print('*', end= '')
        print('\r')

In [ ]:
n=5
pypart(5)

In [ ]:
#what will be the output?
L=['a','b','c','d']
result=''.join(L)
print(result)

# Result is abcd because L is a list of strings. Join is a built-in fucntion in python and it just joins the elements 
# into one string without adding any space between them.

In [ ]:
# What will be the output?
L=[1,2,3,4,5]
value=[x & 1 for x in L]
print(value)

# result is [1,0,1,0,1] because '&' is a bitwise operator. 
# for eg. if x=1, then 1 & 1 means 1*1=1, if x=2, then 2&1 means 10*01= 0

In [ ]:
x=0
while x<=18:
    x=x+3
print(x)

In [ ]:
#Important Question for Interviews: write a code to check even/odd numbers.

def even_odd(x):
    if x%2==0:
        print(x, "is even")
    else: 
        print(x, "is odd")
        
even_odd(221)

In [ ]:
x = "awesome"

def myfunc():
  print("Python is "+ x)

myfunc()

## How to generate powerball numbers using python

In [30]:


import random

# Powerball function

def powerball():
    """
    Prints Powerball lottery numbers.
    """
    
    # Note that including the optional argument end = "" to print() cause
    # print to NOT generate a newline
    
    print("Today's numbers are " + str(random.randrange(1, 60)) + ", ", end = "")
    print(str(random.randrange(1, 60)) + ", ", end = "")
    print(str(random.randrange(1, 60)) + ", ", end = "") 
    print(str(random.randrange(1, 60)) + ", and ", end = "")
    print(str(random.randrange(1, 60)) + ". The Powerball number is ",  end = "") 
    print(str(random.randrange(1, 36)) + ".")

    
powerball()
powerball()
powerball()

Today's numbers are 51, 48, 9, 15, and 57. The Powerball number is 14.
Today's numbers are 58, 55, 40, 38, and 9. The Powerball number is 24.
Today's numbers are 54, 28, 16, 9, and 21. The Powerball number is 19.

## Understand the meaning of print and return

In [ ]:
def do_stuff():
    """
    Example of print vs. return
    """
    print("Hello world")
    return "Is it over yet?"
    print("Goodbye cruel world!")

print(do_stuff())

In [ ]:
def future_value(present_value, annual_rate, periods_per_year, years):
    """
    Input: the numbers present_value, annual_rate, periods_per_year, years
    Output: future value based on formula given in question
    """
    rate_per_period = annual_rate / periods_per_year
    periods = periods_per_year * years
    
    return present_value*(1+rate_per_period)**periods


    

print("$1000 at 2% compounded daily for 4 years yields $", future_value(1000, .02, 365, 4))

## If, Elif, Else conditional

In [1]:
"""
Demonstration of else and elif.
"""

def greet(friend, money):
    """
    Greet people.  Say hi if they are your friend.  Give them
    $20 if they are your friend and you have enough money.  Steal
    $10 from them if they are not your friend.
    """
    if friend and (money > 20):
        print("Hi!")
        money = money - 20
    elif friend:
        print("Hello")
    else:
        print("Ha ha!")
        money = money + 10
    return money


money = 15

money = greet(True, money)
print("Money:", money)
print()

money = greet(False, money)
print("Money:", money)
print()

money = greet(True, money)
print("Money:", money)
print()

Hello
Money: 15

Ha ha!
Money: 25

Hi!
Money: 5

## Checking odd/even with function and if/else statement

In [2]:
def is_even(number):
    return(number%2)==0

number=8
if is_even(number):
    print(number, "is even.")
else:
    print(number, "is odd.")

8 is even.

In [6]:
def function_that_prints():
    print ("I printed")

def function_that_returns():
    return "I returned"

f1 = function_that_prints()
f2 = function_that_returns()
print ("Now let us see what the values of f1 and f2 are")
print (f1)
print (f2)

I printed
Now let us see what the values of f1 and f2 are
None
I returned

In [7]:
def is_cool(name):
    '''
    Returns whether the person with specified 
    name is cool
    '''
    return (name=="Joe") or (name=="John") or (name=='Stephen')

# Tests
name='Joe'
if is_cool(name):
    print(name, "is cool.")
else:
    print(name, " is not cool. ")
    
name='John'
if is_cool(name):
    print(name, "is cool.")
else:
    print(name, "is not cool.")
    
name='Scott'
if is_cool(name):
    print(name, "is cool.")
else:
    print(name, "is not cool.")

Joe is cool.
John is cool.
Scott is not cool.

In [10]:
def is_lunchtime(hour, is_am):
    '''
    Test is_lunchtime function
    '''
    return(hour==11 and is_am) or (hour==12 and not is_am)

#tests
def is_lunchtime_test(hour, is_am):
    '''
    tests  is_lunchtime function
    '''
    print(hour, end="")
    if is_am:
        print('AM', end='')
    else:
        print('PM', end= '')
    if is_lunchtime(hour, is_am):
        print('is lunchtime.')
    else:
        print('is not lunchtime.')
        
        
is_lunchtime_test(11, True)

11AMis lunchtime.

In [15]:
def name_and_age(name, age):
    """
    Returns a string stating the person's age if non-negative.
    Returns an error is the age is negatice
    """
    if age >= 0:
        return name + " is " + str(age) + " years old."
    else:
        return "Error: Invalid age"


# Tests

name, age = "Joe Warren", 56
print(name_and_age(name, age))

name, age = "Scott Rixner", 40
print(name_and_age(name, age))

name, age = "John Greiner", -9
print(name_and_age(name, age))

Joe Warren is 56 years old.
Scott Rixner is 40 years old.
Error: Invalid age

In [17]:
def print_digits(number):
    """
    Prints the tens and ones digit of an integer in the range(0,100).
    """
    
    if 0 <= number < 100:
        print("The tens digit is " + str(number // 10) + "," + 
              "and the ones digit is " + str(number % 10) + ".")
    else:
        print("Error: Input is not a two-digit number.")
        
print_digits(42)
print_digits(99)
print_digits(5)
print_digits(459)

The tens digit is 4,and the ones digit is 2.
The tens digit is 9,and the ones digit is 9.
The tens digit is 0,and the ones digit is 5.
Error: Input is not a two-digit number.

In [19]:
def name_lookup(first_name):
    """Returns the instructor's last name."""
    
    if first_name == "Joe":
        return "Warren"
    elif first_name == "Scott":
        return "Rixner"
    elif first_name == "John":
        return "Greiner"
    elif first_name == "Stephen":
        return "Wong"
    else:
        return "Error: Not an instructor"
    
    
    
first_name = "Joe"
print(first_name + "'s last name is", name_lookup(first_name))
      
first_name = "Scott"
print(first_name + "'s last name is", name_lookup(first_name))
      
first_name = "John"
print(first_name + "'s last name is", name_lookup(first_name))
      
first_name = "Stephen"
print(first_name + "'s last name is", name_lookup(first_name))
      
first_name = "Mary"
print(first_name + "'s last name is", name_lookup(first_name))

Joe's last name is Warren
Scott's last name is Rixner
John's last name is Greiner
Stephen's last name is Wong
Mary's last name is Error: Not an instructor

In [22]:
def smaller_root(coeff_a, coeff_b, coeff_c):
    """
    Returns the smaller root of a quadratic equation with the
    given coefficients.
    """
    
    discriminant = coeff_b ** 2 - 4 * coeff_a * coeff_c
    if discriminant < 0 or coeff_a == 0:
        print("Error: No real solutions")
    else:
        discriminant_sqrt = discriminant ** 0.5
        # Choose the positive or negative square root that leads to a smaller root.
        if coeff_a > 0:
            smaller = - discriminant_sqrt
        else:
            smaller = discriminant_sqrt
        return (-coeff_b + smaller) / (2 * coeff_a)
    

    
    
coeff_a, coeff_b, coeff_c = 1, 2, 3
print("The smaller root of " + str(coeff_a) + "x^2 + " + str(coeff_b) + 
      "x + " + str(coeff_c) + " is: ")

print(str(smaller_root(coeff_a, coeff_b, coeff_c)))

coeff_a, coeff_b, coeff_c = 2, 0, -10
print("The smaller root of " + str(coeff_a) + "x^2 + " + str(coeff_b) + 
      "x + " + str(coeff_c) + " is: ")
print(str(smaller_root(coeff_a, coeff_b, coeff_c)))


coeff_a, coeff_b, coeff_c = 6, -3, 5
print("The smaller root of " + str(coeff_a) + "x^2 + " + str(coeff_b) + 
      "x + " + str(coeff_c) + " is: ")
print(str(smaller_root(coeff_a, coeff_b, coeff_c)))

The smaller root of 1x^2 + 2x + 3 is:
Error: No real solutions
None
The smaller root of 2x^2 + 0x + -10 is:
-2.23606797749979
The smaller root of 6x^2 + -3x + 5 is:
Error: No real solutions
None

In [25]:
False

False

In [26]:
import datetime

date1 = datetime.date(2016, 1, 7)

print(date1)
print(date1.year)
print(date1.month)
print(date1.day)

2016-01-07
2016
1
7

In [27]:
import datetime

date1 = datetime.date(2006, 3, 15)
date2 = datetime.date(2009, 4, 30)

print(date1 != date2)
print(date1 > date2)

True
False

In [28]:
import datetime

date1 = datetime.date(2006, 3, 15)
date2 = datetime.date(2009, 4, 30)
difference = date2 - date1

print(difference)
print(difference.days)

date3 = date1 + difference
print(date2 == date3)

1142 days, 0:00:00
1142
True

In [29]:
import datetime

todays_date = datetime.date.today()

print(todays_date)

2022-07-02

## Computing the number of days in a month

In [49]:

import datetime

def days_in_month(year, month):
    '''
    setting a condition so as to fetch all the months except decemeber
    in if statement
    '''
    if month < 12:
        return (datetime.date(year, month + 1, 1) - datetime.date(year, month, 1)).days
    else:
        return (datetime.date(year + 1, 1, 1) - datetime.date(year, month, 1)).days
 
 # Testing if it will bring the correct result 

days_in_month(2022, 7)

31

## Checking if a date is valid

In [61]:
def is_valid_date(year, month, day):
    if year>=datetime.MINYEAR and year<= datetime.MAXYEAR:
        if month>=1 and month<=12:
            if day>=1 and day <= days_in_month(year, month):
                return True
    return False

is_valid_date(2032,2,29)

True

## Computing the number of days between two dates

In [73]:
def day_between(year1, month1, day1, year2, month2, day2):
    if not (is_valid_date(year1, month1, day1) and is_valid_date(year2, month2, day2)):
            return 0
        
    days=(datetime.date(year1, month1, day1)-datetime.date(year1, month1, day1)).days
            
    if days<0:
        return -days
    
    return 0

## Calculating a person's age in days

In [78]:
def age_in_days(year, month, day):
    if not is_valid_date(year, month, day):
        return 0
       
    age_days = (datetime.date.today() - datetime.date(year, month, day)).days

    if age_days > 0:
        return age_days

    return 0

age_in_days(1988, 6,20)

12430